.container{
    display: grid;
    justify-content: center;
    height: 100%;

}
.main{
    width: 325px;
    height: 400px;
    padding: 10px;
    display: block;
    border: solid 1px #acacac86;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    margin-top: 50px;
}
#instalogo{
    width: 12rem;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 20px 20px;
}
.input{
    padding:.1rem;
    margin: 3px;
    height: 30px;
    border:solid 1px #acacac86;
    align-items: center;
    background: #e9e9e946;
    border-radius: 3px;

}
.inputcontainer{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    width: 300px;
    max-height: 100%;  
    margin-top: 10px;
}
.login{
    padding: 10px;
    width: 280px;
    background: #65ceff;
    border: #65ceff;
    border-radius: 10px;
    color: #ffffff;
    font-size: small;
    font-weight: bolder;
    font-style: normal;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}     
.or{
    padding: 10px;
    background:#ffffff;
    position: relative;
    bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color:#000000f5;
}
hr{
    size: 2px;
    width: 280px;
    margin-top: 30px;
    font-size: small;
    font-weight: bold;
    font-style: inherit;
    border-color: #acacac86;
}
.facelink{
    text-decoration: none;
    color: #4f1baff5;
}
.facebook{
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}
.link{
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.forget{
    color: rgb(56, 56, 56);
    margin-top: 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.create-ac{
    border: #acacac86 solid 1px;
    width: 325px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 3px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.signup{
    color: #19b1f8;
    text-decoration: none;
    font-weight:700;
    font-family: 'Poppins', sans-serif;;

}
.icon{
    border-radius: 50%;
}